@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar but keep scroll working */
::-webkit-scrollbar {
  display: none;
}

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fan-spin {
  /* Set the speed here (e.g., 8s for a slower, elegant spin) */
  animation: spin 8s linear infinite;
  /* Ensures it rotates around its own center */
  transform-origin: center; 
}

